<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Lab: Exploring the Dataset**

Estimated time needed: **30** minutes

## Introduction

Data exploration is the initial phase of data analysis where we aim to understand the data's characteristics, identify patterns, and uncover potential insights. It is a crucial step that helps us make informed decisions about subsequent analysis.

## Objectives

After completing this lab, you will be able to:

-   Summarize the key characteristics of a dataset.
-   Identify different data types commonly used in data analysis.

### Install the required library

In [1]:
import micropip

await micropip.install('pandas')

# Import pandas after installation
import pandas as pd
print(pd.__version__)

<ipython-input-1-4a848102c67d>:6: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

2.2.0

## Load the dataset

<h3>Read Data</h3>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. However, in this version of the lab, which operates on JupyterLite, the dataset needs to be downloaded to the interface using the provided code below.
</p>

The functions below will download the dataset into your browser:

In [2]:
from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

In [3]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"

To obtain the dataset, utilize the download() function as defined above:

In [4]:
await download(file_path, "survey_data.csv")
file_name="survey_data.csv"

Utilize the Pandas method read_csv() to load the data into a dataframe.

In [5]:
df = pd.read_csv(file_name)

> Note: This version of the lab is working on JupyterLite, which requires the dataset to be downloaded to the interface.While working on the downloaded version of this notebook on their local machines(Jupyter Anaconda), the learners can simply **skip the steps above,** and simply use the URL directly in the `pandas.read_csv()` function. You can uncomment and run the statements in the cell below.

# Hands on Lab

## Explore the dataset

It is a good idea to print the top 5 rows of the dataset to get a feel of how the dataset will look.

Display the top 5 rows and columns from your dataset.

In [6]:
## Write your code here
df.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN

## Find out the number of rows and columns

Start by exploring the numbers of rows and columns of data in the dataset.

Print the number of rows in the dataset.

In [7]:
## Write your code here
df.shape[0]

65437

Print the number of columns in the dataset.

In [8]:
## Write your code here
df.shape[1]

114

## Identify the data types of each column

Explore the dataset and identify the data types of each column.

Print the datatype of all columns.

In [18]:
## Write your code here
# df.info() #imprime más que información, un resumen con: Número de valores no nulos, Tipo de dato, Uso de memoria 
# pd.set_option('display.max_columns', None) #Para que me muestre las 114 columnas y no una lista truncada
# pd.reset_option('display.max_columns') #Para volver a laconfiguración anterior
df.dtypes #Imprime únicamente el tipo de datos

ResponseId               int64
MainBranch              object
Age                     object
Employment              object
RemoteWork              object
                        ...
JobSatPoints_11        float64
SurveyLength            object
SurveyEase              object
ConvertedCompYearly    float64
JobSat                 float64
Length: 114, dtype: object

Print the mean age of the survey participants.

In [25]:
## Write your code here
# print(df.describe(include='all').loc['mean', col])

col = df.columns[2]
desc = df.describe(include='all')
media = desc.loc['mean', col] if 'mean' in desc.index else np.nan

if pd.isna(media):
    top_val = desc.loc['top', col]
    freq = desc.loc['freq', col]
    total = len(df)

    proporcion = freq / total

    print(f"The mean cannot be calculated because the values are not numerical.")
    print(f"However, the value that is most frequently repeated is '{top_val}', equivalent to {proporcion:.2%} of the total.")
else:
    print(f"La media de la columna '{col}' es: {media}")

The mean cannot be calculated because the values are not numerical.
However, the value that is most frequently repeated is '25-34 years old', equivalent to 36.54% of the total.

The dataset is the result of a world wide survey. Print how many unique countries are there in the Country column.

In [22]:
## Write your code here
paises = df['Country'].unique().tolist()
paises

['United States of America',
 'United Kingdom of Great Britain and Northern Ireland',
 'Canada',
 'Norway',
 'Uzbekistan',
 'Serbia',
 'Poland',
 'Philippines',
 'Bulgaria',
 'Switzerland',
 'India',
 'Germany',
 'Ireland',
 'Italy',
 'Ukraine',
 'Australia',
 'Brazil',
 'Japan',
 'Austria',
 'Iran, Islamic Republic of...',
 'France',
 'Saudi Arabia',
 'Romania',
 'Turkey',
 'Nepal',
 'Algeria',
 'Sweden',
 'Netherlands',
 'Croatia',
 'Pakistan',
 'Czech Republic',
 'Republic of North Macedonia',
 'Finland',
 'Slovakia',
 'Russian Federation',
 'Greece',
 'Israel',
 'Belgium',
 'Mexico',
 'United Republic of Tanzania',
 'Hungary',
 'Argentina',
 'Portugal',
 'Sri Lanka',
 'Latvia',
 'China',
 'Singapore',
 'Lebanon',
 'Spain',
 'South Africa',
 'Lithuania',
 'Viet Nam',
 'Dominican Republic',
 'Indonesia',
 'Kosovo',
 'Morocco',
 'Taiwan',
 'Georgia',
 'San Marino',
 'Tunisia',
 'Bangladesh',
 'Nigeria',
 'Liechtenstein',
 'Denmark',
 'Ecuador',
 'Malaysia',
 'Albania',
 'Azerbaijan',
 'Chile',
 'Ghana',
 'Peru',
 'Bolivia',
 'Egypt',
 'Luxembourg',
 'Montenegro',
 'Cyprus',
 'Paraguay',
 'Kazakhstan',
 'Slovenia',
 'Jordan',
 'Venezuela, Bolivarian Republic of...',
 'Costa Rica',
 'Jamaica',
 'Thailand',
 'Nicaragua',
 'Myanmar',
 'Republic of Korea',
 'Rwanda',
 'Bosnia and Herzegovina',
 'Benin',
 'El Salvador',
 'Zimbabwe',
 'Afghanistan',
 'Estonia',
 'Malta',
 'Uruguay',
 'Belarus',
 'Colombia',
 'Republic of Moldova',
 'Isle of Man',
 'Nomadic',
 'New Zealand',
 'Palestine',
 'Armenia',
 'United Arab Emirates',
 'Maldives',
 'Ethiopia',
 'Fiji',
 'Guatemala',
 'Uganda',
 'Turkmenistan',
 'Mauritius',
 'Kenya',
 'Cuba',
 'Gabon',
 'Bahamas',
 'South Korea',
 'Iceland',
 'Honduras',
 'Hong Kong (S.A.R.)',
 "Lao People's Democratic Republic",
 'Mongolia',
 'Cambodia',
 'Madagascar',
 'Angola',
 'Democratic Republic of the Congo',
 'Syrian Arab Republic',
 'Iraq',
 'Namibia',
 'Senegal',
 'Kyrgyzstan',
 'Zambia',
 'Swaziland',
 "Côte d'Ivoire",
 'Kuwait',
 'Tajikistan',
 'Burundi',
 'Trinidad and Tobago',
 'Mauritania',
 'Sierra Leone',
 'Panama',
 'Somalia',
 'North Korea',
 'Dominica',
 'Guyana',
 'Togo',
 'Oman',
 'Barbados',
 'Andorra',
 "Democratic People's Republic of Korea",
 'Qatar',
 'Sudan',
 'Cameroon',
 'Papua New Guinea',
 'Bahrain',
 'Yemen',
 'Malawi',
 'Burkina Faso',
 'Congo, Republic of the...',
 'Botswana',
 'Guinea-Bissau',
 'Mozambique',
 'Central African Republic',
 'Equatorial Guinea',
 'Suriname',
 'Belize',
 'Libyan Arab Jamahiriya',
 'Cape Verde',
 'Brunei Darussalam',
 'Bhutan',
 'Guinea',
 'Niger',
 'Antigua and Barbuda',
 'Mali',
 'Samoa',
 'Lesotho',
 'Saint Kitts and Nevis',
 'Monaco',
 'Micronesia, Federated States of...',
 'Haiti',
 nan,
 'Nauru',
 'Liberia',
 'Chad',
 'Djibouti',
 'Solomon Islands']

Copyright ©  IBM Corporation. All rights reserved.